'packages': [
  'about'
  'advanced-open-file'
  'aligner'
  'aligner-javascript'
  'archive-view'
  'atom-beautify'
  'atom-dark-syntax'
  'atom-dark-ui'
  'atom-fuzzy-grep'
  'atom-light-syntax'
  'atom-light-ui'
  'atom-material-syntax'
  'atom-material-ui'
  'atom-typescript'
  'autocomplete-atom-api'
  'autocomplete-css'
  'autocomplete-elixir'
  'autocomplete-html'
  'autocomplete-modules'
  'autocomplete-plus'
  'autocomplete-snippets'
  'autoflow'
  'autosave'
  'background-tips'
  'base16-tomorrow-dark-theme'
  'base16-tomorrow-light-theme'
  'bookmarks'
  'bracket-matcher'
  'busy-signal'
  'color-picker'
  'command-palette'
  'dalek'
  'deprecation-cop'
  'dev-live-reload'
  'editorconfig'
  'encoding-selector'
  'esformatter'
  'eslint-fixer'
  'exception-reporting'
  'file-icons'
  'find-and-replace'
  'fonts'
  'fuzzy-finder'
  'git-diff'
  'git-log'
  'github'
  'go-to-line'
  'grammar-selector'
  'image-view'
  'incompatible-packages'
  'intentions'
  'keybinding-resolver'
  'language-babel'
  'language-c'
  'language-cjsx'
  'language-clojure'
  'language-coffee-script'
  'language-csharp'
  'language-css'
  'language-docker'
  'language-elixir'
  'language-gfm'
  'language-git'
  'language-go'
  'language-gradle'
  'language-graphql'
  'language-groovy'
  'language-haml'
  'language-haskell'
  'language-html'
  'language-hyperlink'
  'language-java'
  'language-javascript'
  'language-jenkinsfile'
  'language-json'
  'language-less'
  'language-make'
  'language-mustache'
  'language-objective-c'
  'language-perl'
  'language-php'
  'language-property-list'
  'language-python'
  'language-ruby'
  'language-ruby-on-rails'
  'language-rust-bundled'
  'language-sass'
  'language-shellscript'
  'language-source'
  'language-sql'
  'language-text'
  'language-todo'
  'language-toml'
  'language-typescript'
  'language-xml'
  'language-yaml'
  'line-ending-selector'
  'link'
  'linter'
  'linter-coffeelint'
  'linter-eslint'
  'linter-js-standard'
  'linter-ui-default'
  'markdown-preview'
  'merge-conflicts'
  'metrics'
  'minimap'
  'notifications'
  'nuclide'
  'one-dark-syntax'
  'one-dark-ui'
  'one-light-syntax'
  'one-light-ui'
  'open-on-github'
  'package-generator'
  'parcel'
  'pigments'
  'prettier-atom'
  'react'
  'settings-view'
  'snippets'
  'solarized-dark-syntax'
  'solarized-light-syntax'
  'sort-lines'
  'spell-check'
  'split-diff'
  'status-bar'
  'styleguide'
  'symbols-view'
  'tabs'
  'tabs-to-spaces'
  'timecop'
  'TinyRave'
  'toggle-quotes'
  'travis-ci-status'
  'tree-view'
  'update-package-dependencies'
  'welcome'
  'whitespace'
  'wrap-guide'
]
